/* tags */
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background: white;
}

body {
    text-align: center;
    width: 100%;
    height: 640px;
    margin: auto;
}


a {
    font-size: 23px;
}

p {
    font-size: 25px;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

/*@media (max-width: 768px) {
    footer {
        width: 100%;
        position: fixed;
        bottom: 0%;
    }   
}

@media (min-width: 1366px) {
    footer {
        width: 1280px;
        position: fixed;
        bottom: 0%;
    }   
}*/

/* tags */

/*-----------------------------------------------------*/

/*classes and Ids*/

.container {
    margin: auto
    width: 240px;
}


.divExtend {
    position: relative;
    top: 12%;
}

.searchDivExtend {
    position: fixed;
    top: 70%;
}


/*Section contains code regarding the navbar*/

#icon {
    position: fixed;
    left: 25%;
}

#nav {
    padding: 5px 5px 5px 5px;
    margin: auto;
    background: #a5fc03;
    height: 50px;
    width: 100%;
    position: fixed;
}

#innerNav {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
}

#navbarNavAltMarkup {
    height: 100%;
    width: 100%;
    margin: auto;
}

.nav-item {
    font-size: 19px;
    margin: 0px 40px 0px 0px;
}


#brand-div {
    height: 40px;
    width: 140px;
    display: none;
    color:  #03a1fc;
}

#btn-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-btn {
    height: 50px;
    width: 50px;
}

#search-btn img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
}

#search-form {
    height: 50px;
    width: 50px;
}

/* adjusting the position of the buttons with the size of the window */
/*-----------------PHONE----------------*/
@media only screen and (min-width: 0px) and (max-width: 360px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 28%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 29%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 31%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }
}

/*landscape*/
@media only screen and (min-width: 414px) and (max-width: 740px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }

    #icon {
        position: fixed;
        left: 14%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    #search-div {
        top: 10px;
    }
}
/*-----------------PHONE----------------*/

/*-----------------TABLET----------------*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 24%; 
    }

    #search-div {
        position: fixed;
        left: 87%;
    }

    /*#search-btn img {
        height: 25px;
        width: 25px;
    }*/

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #brand-div {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 25%; 
    }

    #search-div {
        position: fixed;
        left: 87%;
    }

    #search-btn img {
        height: 25px;
        width: 25px;
    }

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #brand-div {
        display: none;
    }
}
/*-----------------TABLET----------------*/

/*------------------PC-------------------*/
@media only screen and (min-width: 740px) and (max-width: 767.9px) {
   

   /* #btn-div {
        position: fixed;
        left: 24%;
    }*/

  /*  #search-div {
        position: fixed;
        left: 87%;
    }*/

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
   

    #btn-div {
        position: fixed;
        left: 25%;
    }

    #search-div {
        position: fixed;
        left: 87%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
   

    #btn-div {
        position: fixed;
        left: 29%;
    }

    #search-div {
        position: fixed;
        left: 88%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1152px) {
   

    #btn-div {
        position: fixed;
        left: 32%;
    }

    #search-div {
        position: fixed;
        left: 83%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }
}

@media only screen and (min-width: 1152px) and (max-width: 1280px) {
   

    #btn-div {
        position: fixed;
        left: 35%;
    }

    #search-div {
        position: fixed;
        left: 80%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 20%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
   
    #btn-div {
        position: fixed;
        left: 36%;
    }

    #search-div {
        position: fixed;
        left: 79%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 20%;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
   
    #btn-div {
        position: fixed;
        left: 36%;
    }

    #search-div {
        position: fixed;
        left: 78%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 20%;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
   
    #btn-div {
        position: fixed;
        left: 38%;
    }

    #search-div {
        position: fixed;
        left: 76%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 24%;
    }
}


/*------------------PC-------------------*/
/* adjusting the position of the buttons with the size of the window */






/*Section contains code regarding the navbar*/

/*-----------------------------------------------------*/

/*section contains code regarding the footer*/
#social-div {
    background: #e3e3e3;
    opacity: 40%;
    height: 30px;
    margin: auto;
}

/*section contains code regarding the footer*/
