/* tags */
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background: white;
}

body {
    text-align: center;
    width: 100%;
    height: 720px;
    margin: auto;
    top: 0px;
}


a {
    font-size: 23px;
}

button {
    border: none;
    background-color: white;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-family: Kingthings clarity;
}

p {
    font-size: 18px;
    font-family: Montserrat;
}

footer {
    width: 100%;
    height: 90px;
    text-align: center;
    margin: auto;
    background-color: #b6b6b6;
    position: relative;
    top: 10%;
}

hr {
    background-color: white;
}

svg {
    margin: 0px 5px 0px 0px;
}
/*@media (max-width: 768px) {
    footer {
        width: 100%;
        position: fixed;
        bottom: 0%;
    }   
}

@media (min-width: 1366px) {
    footer {
        width: 1280px;
        position: fixed;
        bottom: 0%;
    }   
}*/

/* tags */

/*-----------------------------------------------------*/

/*classes and Ids*/
.pointer {
    cursor: pointer;
}

.gradient {
    background-color: #ffffff;

   /*background-image: radial-gradient(#a9f8ff, #005157);*/
    background-image: linear-gradient(#ffffff, #ebebeb);
    /*background-image: linear-gradient(#5df034, #005157);*/

    background: #ffffff;

    /*background: radial-gradient(#a9f8ff, #005157);*/
    background: linear-gradient(#ffffff, #ebebeb);
    /*background: linear-gradient(#5df034, #005157);*/
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1920px;
}

.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.divExtend {
    position: relative;
    top: 12%;
}

.searchDivExtend {
    position: fixed;
    top: 205px;
}

/*section regarding the body */

/*#slideshow-div {
    height: 100%;
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 1px;
    border: solid 1px;

}*/

#slide-hr-bottom {
    position: relative;
    width: 75%;
    background-color: #383838;
    opacity: 50%;
    top: 30px;
}

/*#video-selector {
    width: 100%;
    height: 18%;
    background-color: #343434;
}*/


/*section regarding the body */

/* carousel */
#car-search-div {
    position: relative;
    width: 120px;
    height: 25px;
    top: 70px;
    left: 90%;
    z-index: 99 !important;
}
/* carousel */

/*Section contains code regarding the navbar*/

#icon {
    position: fixed;
    left: 25%;
}

#nav {
    padding: 5px 5px 5px 5px;
    margin: auto;
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
    border: solid 1px;
    z-index: 99 !important;
    font-family: Arial;
}

#innerNav {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
}

#navbarNavAltMarkup {
    height: 100%;
    width: 100%;
    margin: auto;
}

.nav-item {
    font-size: 19px;
    margin: 0px 40px 0px 0px;
}


#brand-div {
    height: 40px;
    width: 140px;
    display: none;
    color:  black;
}

#btn-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-btn {
    height: 50px;
    width: 50px;
}

#search-btn img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
}

#search-form {
    height: 50px;
    width: 50px;
}



/* adjusting the position of the buttons with the size of the window */
/*-----------------PHONE----------------*/
@media only screen and (min-width: 0px) and (max-width: 360px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 28%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/

    .column {
        width: 100%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 375px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 29%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
      
    }*/

    .column {
        width: 100%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 31%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/

    .column {
        width: 100%;
    }
}

@media only screen and (min-width: 414px) and (max-width: 454px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 35.5%;
    }

    #icon {
        position: fixed;
        left: 14%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    #search-div {
        top: 10px;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
       
    }*/

    .column {
        width: 100%;
    }
}

/*landscape*/
@media only screen and (min-width: 454px) and (max-width: 740px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }

    #icon {
        position: fixed;
        left: 14%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    #search-div {
        top: 10px;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 30%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 40px;
    }*/

    .column {
        width: 100%;
    }
}
/*-----------------PHONE----------------*/

/*-----------------TABLET----------------*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 24%;
        padding: 0px 0px 0px 0px; 
    }

    #search-div {
        position: fixed;
        left: 87%;
    }

    /*#search-btn img {
        height: 25px;
        width: 25px;
    }*/

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #brand-div {
        display: none;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
      
    }*/
}

@media only screen and (min-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 36%; 
        padding: 0px 0px 0px 0px;
    }

    #search-div {
        position: fixed;
        left: 72%;
    }

    #search-btn img {
        height: 25px;
        width: 25px;
    }

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 25.5%;
    }

    #brand-div {
        display: none;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 65%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/
}
/*-----------------TABLET----------------*/

/*------------------PC-------------------*/
@media only screen and (min-width: 740px) and (max-width: 767.9px) {
   

   /* #btn-div {
        position: fixed;
        left: 24%;
    }*/

  /*  #search-div {
        position: fixed;
        left: 87%;
    }*/

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    .column {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
   

    #btn-div {
        position: fixed;
        left: 27.4%;
    }

    #search-div {
        position: fixed;
        left: 87.8%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 7.9%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;*/
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
   

    #btn-div {
        position: fixed;
        left: 30%;
    }

    #search-div {
        position: fixed;
        left: 85.7%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10.5%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/
}

@media only screen and (min-width: 1024px) and (max-width: 1152px) {
   

    #btn-div {
        position: fixed;
        left: 32%;
    }

    #search-div {
        position: fixed;
        left: 81.6%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 15%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/
}

@media only screen and (min-width: 1152px) and (max-width: 1280px) {
   

    #btn-div {
        position: fixed;
        left: 33.8%;
    }

    #search-div {
        position: fixed;
        left: 78.2%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 18.6%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
     
    }*/
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
   
    #btn-div {
        position: fixed;
        left: 34.5%;
    }

    #search-div {
        position: fixed;
        left: 76.6%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 20.4%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
   
    #btn-div {
        position: fixed;
        left: 35.7%;
    }

    #search-div {
        position: fixed;
        left: 75.2%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 21.9%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
       
    }*/
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
   
    #btn-div {
        position: fixed;
        left: 37%;
        padding: 0px 0px 0px 0px;
    }

    #search-div {
        position: fixed;
        left: 73.7%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 23.8%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/
}


/*------------------PC-------------------*/
/* adjusting the position of the buttons with the size of the window */






/*Section contains code regarding the navbar*/

/*-----------------------------------------------------*/

/*section contains code regarding the footer*/
#info-div {
    height: 60px;
    width: 75%;
    margin: auto;
   /* background-color: #7c7c7c;*/

}

#social-div.container {
    width: 100%;
    height: 30px;
    background: white;
}

#fb-logo {
    margin: auto;
    position: relative;
    top: 4px;
}



/*section contains code regarding the footer*/
