/* tags */
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background: #FFFFFF;
}

body {
    text-align: center;
}

a {
    font-size: 23px;
}

p {
    font-size: 24px;
}
/* tags */

/*classes and Ids*/

/*Section contains code regarding the navbar*/
.navbar-brand {
    position: relative;
    left: 40px;
}

@media (min-width: 320px) {
    .navbar-brand {
        position: relative;
        left: 25px;
    }
}

#nav {
    padding: 5px 5px 5px 5px;
    margin: 10px 5px 5px 5px;
    background: #a5fc03;
    border-radius: 5px;
}

.nav-item {
    font-size: 19px;
    margin: 0px 10px 0px 0px;
}

#brand-div {
    height: 40px;
    width: 140px;
    display: none;
    position: fixed;
    top: 15px;
    color:  #03a1fc;
}

/* adjusting the position of the buttons with the size of the window */
@media (min-width: 768px) {
    #log-div {
        position: fixed;
        left: 75%;
    }

    #btn-div {
        position: fixed;
        left: 15%;
    }
}

@media (min-width: 980px) and (max-width: 1156px) {
    #log-div {
        position: fixed;
        left: 80%;
    }

    #btn-div {
        position: fixed;
        left: 15%;
    }
}

@media (min-width: 1156px) and (max-width: 1366px) {
    #log-div {
        position: fixed;
        left: 85%;
    }

    #btn-div {
        position: fixed;
        left: 12%;
    }
}

@media (min-width: 1366px) {
    #log-div {
        position: fixed;
        left: 85%;
    }

    #btn-div {
        position: fixed;
        left: 10%;
    }
}
/* adjusting the position of the buttons with the size of the window */

/* display the brand name when the window is small */
/*tablet*/
@media  (min-width: 360px) and (max-width: 460px) {
    #brand-div {
        display: inline;
        position: fixed;
        left: 35%;
    }
}

/*phone*/
@media (max-width: 360px) {
    #brand-div {
        display: inline;
        position: fixed;
        left: 30%;
    }
}

@media  (min-width: 460px) and (max-width: 767px) {
    #brand-div {
        display: inline;
        position: fixed;
        left: 42%;
    }
}

/*Section contains code regarding the navbar*/