/* tags */
html {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    background: white;
}

body {
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0px;
}


a {
    font-size: 23px;
    margin: auto;
    text-align: center;
}

button {
    border: none;
    background-color: white;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-family: Kingthings clarity;
    margin: 0px 5px 0px 0px;
}

p {
    font-size: 18px;
    font-family: Montserrat;
}

footer {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: auto;
   /* background-color: #b6b6b6;*/
    position: relative;
}

hr {
    background-color: white;
}

svg {
    white-space: nowrap;
    margin: auto;

}
/*@media (max-width: 768px) {
    footer {
        width: 100%;
        position: fixed;
        bottom: 0%;
    }   
}

@media (min-width: 1366px) {
    footer {
        width: 1280px;
        position: fixed;
        bottom: 0%;
    }   
}*/

/* tags */

/*-----------------------------------------------------*/

/*classes and Ids*/
.pointer {
    cursor: pointer;
}

.gradient {
    background-color: #ffffff;

   /*background-image: radial-gradient(#a9f8ff, #005157);*/
    background-image: linear-gradient(#ffffff, #c9c9c9);
    /*background-image: linear-gradient(#5df034, #005157);*/

    background: #ffffff;

    /*background: radial-gradient(#a9f8ff, #005157);*/
    background: linear-gradient(#ffffff, #c9c9c9);
    /*background: linear-gradient(#5df034, #005157);*/
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1920px;
}

.container-2 {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 250px;
    height: 150px;
    font-size: 16px;
    font-family: Montserrat;
    text-align: left;
    border-radius: 5px;
    border: solid 1px;
}

.first-col {
    background-color: #bebebe;
}

.second-col {
    background-color: #a6a6a6;
}

.third-col {
    background-color: #bebebe;
}

.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.blur-cont {
    filter:blur(8px);
    transition: filter 0.2s;
}

.hide {
    opacity: 0%;
}

.appear {
    opacity: 100%;
}

.divExtend {
    position: relative;
    top: 12%;
}

.searchDivExtend {
    position: fixed;
    top: 205px;
}

.nav-item {
    transition: background-color 1s;
}

.btn {
    height: 31.6px;
    opacity: 50%;
    transition: opacity 1s;
}




/*section regarding the body */

/*#slideshow-div {
    height: 100%;
    width: 50%;
    margin: auto;
    background: white;
    border-radius: 1px;
    border: solid 1px;

}*/

#slide-hr-bottom {
    position: relative;
    width: 75%;
    background-color: #383838;
    opacity: 50%;

}

/*#video-selector {
    width: 100%;
    height: 18%;
    background-color: #343434;
}*/


/*section regarding the body */

/* carousel */
#car-search-div {
    position: relative;
    width: 250px;
    height: 50px;
    top: 70px;
    left: 80%;
    z-index: 98 !important;
}

#carousel-options {
    position: relative;
    height: 25px;
    width: 25px;
    top: 60px;
    left: 88.4%;
    z-index: 99 !important;
}

#option-btn {
    height: 20px;
    width: 20px;
}

/*vertical dots icon*/
.bi-three-dots-vertical {
    position: relative;
    bottom: 5px;
    right: 8px;
}

#options {
    margin: auto;
    position: relative;
    bottom: 170px;
    transition: opacity 0.1s;
    text-align: center;
}

#options p {
    text-align: center;
    margin: auto;
}

/* carousel */


/*section contains code regarding the footer*/
#info-div {
    height: 225px;
    width: 75%;
    margin: auto;
    top
   /* background-color: #7c7c7c;*/

}

#social-div .container {
    width: 100%;
    height: 30px;
}

#social-div {
    position: relative;
    top: 40px;
}

#fb-logo {
    margin: auto;
}



/*section contains code regarding the footer*/


/*Section contains code regarding the navbar*/

#icon {
    position: fixed;
    left: 25%;
}

#nav {
    padding: 5px 5px 5px 5px;
    margin: auto;
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
    border: solid 1px;
    z-index: 99 !important;
    font-family: Arial;
}

#innerNav {
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
}

#navbarNavAltMarkup {
    height: 100%;
    width: 100%;
    margin: auto;
}

.nav-item {
    font-size: 19px;
    margin: 0px 40px 0px 0px;
}


#brand-div {
    height: 40px;
    width: 140px;
    display: none;
    color:  black;
}

#btn-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-div {
    width: 50px;
    height: 50px;
    margin: auto;
}

#search-btn {
    height: 50px;
    width: 50px;
}

#search-btn img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 10px;
}

#search-form {
    height: 50px;
    width: 50px;
}



/* adjusting the position of the buttons with the size of the window */
/*-----------------PHONE----------------*/
@media only screen and (min-width: 0px) and (max-width: 360px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 28%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/

    .column {
        width: 100%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        height: 275px;
        position: relative;
        top: 24%;
    }

}

@media only screen and (min-width: 360px) and (max-width: 375px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 29%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
      
    }*/

    .column {
        width: 100%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
       /* height: 275px;
        position: relative;
        top: 26%;*/
        height: 300px;
        bottom: 0px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 31%;
    }

    #icon {
        position: fixed;
        left: 5%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/

    .column {
        width: 100%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }


    footer {
        height: 275px;
        top: 31.8%;
    }
    
}

@media only screen and (min-width: 414px) and (max-width: 454px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 35.5%;
    }

    #icon {
        position: fixed;
        left: 14%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    #search-div {
        top: 10px;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 25%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
       
    }*/

    .column {
        width: 100%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        height: 275px;
        position: relative;
        top: 21.8%;
    }
}

/*landscape*/
@media only screen and (min-width: 454px) and (max-width: 740px) {
  
    /*#btn-div {
        position: fixed;
        left: 30%; 
    }

    #search-div {
        width: 500px;
        height: 50px;
        position: fixed;
        top: 8px;
    }

    #search-box {
        float: right;
        position: fixed;
        left: 60%;
    }

    #submit-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 70%;
    }*/

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }

    #icon {
        position: fixed;
        left: 14%;
    }

    #navbar-btn {
        position: fixed;
        left: 80%;
    }

    #search-div {
        top: 10px;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 30%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 40px;
    }*/

    #car-search-div {
        left: 62%;
    }

    .column {
        width: 100%;
        margin: 3%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        top: 10%;
    }
}
/*-----------------PHONE----------------*/

/*-----------------TABLET----------------*/
@media only screen and (min-width: 768px) and (max-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 24%;
        padding: 0px 0px 0px 0px; 
    }

    #search-div {
        position: fixed;
        left: 87%;
    }

    /*#search-btn img {
        height: 25px;
        width: 25px;
    }*/

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #brand-div {
        display: none;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
      
    }*/

    #car-search-div {
        left: 67%;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        top: 20%;
    }

    #social-div {
        position: relative;
        top: 43px;
    }
}

@media only screen and (min-width: 800px) {
  
    #btn-div {
        position: fixed;
        left: 36%; 
        padding: 0px 0px 0px 0px;
    }

    #search-div {
        position: fixed;
        left: 72%;
    }

    #search-btn img {
        height: 25px;
        width: 25px;
    }

   /* #search-btn {
        position: fixed;
        top: 11px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 25.5%;
    }

    #brand-div {
        display: none;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 65%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
        
    }*/

    #car-search-div {
        left: 67%;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        top: 34.8%;
    }

    #social-div {
        position: relative;
        top: 43px;
    }

}
/*-----------------TABLET----------------*/

/*------------------PC-------------------*/
@media only screen and (min-width: 740px) and (max-width: 767.9px) {
   

   /* #btn-div {
        position: fixed;
        left: 24%;
    }*/

  /*  #search-div {
        position: fixed;
        left: 87%;
    }*/

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 10%;
    }

    #navbar-btn {
        position: fixed;
        left: 82%;
    }

    #brand-div {
        display: inline;
        position: fixed;
        left: 40%;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    .column {
        width: 100%;
        margin: 3%;
    }

    .third-col {
        background-color: #8e8e8e;
    }

    .btn {
        opacity: 80%;
    }

    .nav-item {
        border: none;
    }

    body {
        height: 100%;
    }

    html {
        height: 100%;
    }

    footer {
        bottom: 1px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 960px) {
   

    #btn-div {
        position: fixed;
        left: 27.4%;
    }

    #search-div {
        position: fixed;
        left: 87.8%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 74%;
    }*/

    #icon {
        position: fixed;
        left: 7.9%;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 1px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
   

    #btn-div {
        position: fixed;
        left: 30%;
    }

    #search-div {
        position: fixed;
        left: 85.7%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 10.5%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

   /* #slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1152px) {
   

    #btn-div {
        position: fixed;
        left: 32%;
    }

    #search-div {
        position: fixed;
        left: 81.6%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 77%;
    }*/

    #icon {
        position: fixed;
        left: 15%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }
}

@media only screen and (min-width: 1152px) and (max-width: 1280px) {
   

    #btn-div {
        position: fixed;
        left: 33.8%;
    }

    #search-div {
        position: fixed;
        left: 78.2%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 18.6%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
     
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
   
    #btn-div {
        position: fixed;
        left: 34.5%;
    }

    #search-div {
        position: fixed;
        left: 76.6%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 20.4%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
   
    #btn-div {
        position: fixed;
        left: 35.7%;
    }

    #search-div {
        position: fixed;
        left: 75.2%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 21.9%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
       
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
   
    #btn-div {
        position: fixed;
        left: 37%;
        padding: 0px 0px 0px 0px;
    }

    #search-div {
        position: fixed;
        left: 73.7%;
    }

   /* #search-btn {
        margin: auto;
        position: fixed;
        top: 15px;
        left: 72%;
    }*/

    #icon {
        position: fixed;
        left: 23.8%;
    }

    .carousel {
        width: 768px;
        height: 480px;
        margin: auto;
    }

    /*#slideshow-bg {
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: black;
        position: relative;
        top: 50px;
    }*/

    body {
        height: 1280px;
    }

    html {
        height: 1280px;
    }

    footer {
        bottom: 0px;
    }

    #social-div {
        position: relative;
        top: 60px;
    }
}


/*------------------PC-------------------*/
/* adjusting the position of the buttons with the size of the window */






/*Section contains code regarding the navbar*/

/*-----------------------------------------------------*/




/*section contains code for transitions and other effects*/
.nav-item:hover {
    background-color: #b9b9b9;
}

.btn:hover {
    opacity: 100%;
}

a:visited {
    color: purple;
}

/*section contains code for transitions and other effects*/